# Aviation Analysis

## Overview


The company is expanding into the aviation industry, aiming to purchase and operate aircraft for both commercial and private use. To mitigate potential risks, it is crucial to analyze historical aviation accident data and identify the aircraft with the lowest risk. This analysis will provide actionable insights for making informed purchasing decisions.

## Business Problem

The company is looking to diversify its portfolio by entering the aviation industry, specifically in the purchase and operation of aircraft for commercial and private enterprises. However, the company lacks knowledge about the risks associated with different types of aircraft. To address this, we need to analyze historical aviation accident data to determine which aircraft are associated with the lowest risk. This analysis will guide the company in making informed decisions about which aircraft to purchase, minimizing potential risks and ensuring the safety and profitability of the new business endeavor.

## Data Understanding


The dataset utilized for this analysis is sourced from the National Transportation Safety Board (NTSB) and includes aviation accident data from 1962 to 2023. The data comprises civil aviation accidents and selected incidents within the United States and international waters.

## Start by Importing the necessary libraries

In [46]:
#import all the necessary libraries
import os
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

   ## Preload the Aviation dataset and start cleaning the dataset

### Preloading the Dataset

In [47]:
#preload the data into a pandas dataframe
aviation_data= pd.read_csv('./AviationData.csv/AviationData.csv', encoding='latin1')# we are using the latin1 encoding because the default encoding of utf-8 was throwing an error

#put the data into a pandas dataframe
df = pd.DataFrame(aviation_data)

#print the first 5 rows of the dataframe
print(df.head())

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_22320\4031850137.py:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  aviation_data= pd.read_csv('./AviationData.csv/AviationData.csv', encoding='latin1')# we are using the latin1 encoding because the default encoding of utf-8 was throwing an error

         Event.Id Investigation.Type Accident.Number  Event.Date  \
0  20001218X45444           Accident      SEA87LA080  1948-10-24
1  20001218X45447           Accident      LAX94LA336  1962-07-19
2  20061025X01555           Accident      NYC07LA005  1974-08-30
3  20001218X45448           Accident      LAX96LA321  1977-06-19
4  20041105X01764           Accident      CHI79FA064  1979-08-02

          Location        Country   Latitude  Longitude Airport.Code  \
0  MOOSE CREEK, ID  United States        NaN        NaN          NaN
1   BRIDGEPORT, CA  United States        NaN        NaN          NaN
2    Saltville, VA  United States  36.922223 -81.878056          NaN
3       EUREKA, CA  United States        NaN        NaN          NaN
4       Canton, OH  United States        NaN        NaN          NaN

  Airport.Name  ... Purpose.of.flight Air.carrier Total.Fatal.Injuries  \
0          NaN  ...          Personal         NaN                  2.0
1          NaN  ...          Personal         NaN                  4.0
2          NaN  ...          Personal         NaN                  3.0
3          NaN  ...          Personal         NaN                  2.0
4          NaN  ...          Personal         NaN                  1.0

  Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
0                    0.0                  0.0             0.0
1                    0.0                  0.0             0.0
2                    NaN                  NaN             NaN
3                    0.0                  0.0             0.0
4                    2.0                  NaN             0.0

  Weather.Condition  Broad.phase.of.flight   Report.Status Publication.Date
0               UNK                 Cruise  Probable Cause              NaN
1               UNK                Unknown  Probable Cause       19-09-1996
2               IMC                 Cruise  Probable Cause       26-02-2007
3               IMC                 Cruise  Probable Cause       12-09-2000
4               VMC               Approach  Probable Cause       16-04-1980

[5 rows x 31 columns]

In [48]:
#check the shape of the dataframe
print(df.shape)
#check the columns of the dataframe
print(df.columns)
#check the data types of the columns
print(df.dtypes)

(88889, 31)
Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')
Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

### Dividing Columns based on the Most important Columns for the Analysis and the Not So important Columns for Analysis

In [49]:
#check the necessary columns and drop all the other unnecessary columns in our study
#create a list of all the necesary columns
necessary_columns = [
    'Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
    'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
    'Airport.Name', 'Injury.Severity', 'Aircraft.damage', 'Aircraft.Category',
    'Make', 'Model', 'Number.of.Engines', 'Engine.Type', 'Air.carrier',
    'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries',
    'Total.Uninjured', 'Weather.Condition', 'Broad.phase.of.flight', 
    'Purpose.of.flight', 'Report.Status'
]
# Drop all columns that are not in the list of necessary columns
df = df[necessary_columns]

#check the shape of the dataframe
print(df.shape)

(88889, 26)

#### Check Missing Values in Each Column

In [50]:
#check the number of missing values in each column
print(df.isna().sum().sort_values(ascending=False))

Air.carrier               72241
Aircraft.Category         56602
Longitude                 54516
Latitude                  54507
Airport.Code              38757
Airport.Name              36185
Broad.phase.of.flight     27165
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Injury.Severity            1000
Country                     226
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Event.Date                    0
Accident.Number               0
Event.Id                      0
dtype: int64

#### Checking the Percentage Missing Values in Each Column to drop columns with % that is above 50

In [51]:
#check the percentage of the missing values in each column and create a table of each column and the percentage of missing values
#calculate the sum of missing values in each column
missing_values = df.isnull().sum().sort_values(ascending=True) #calculates the sum of missing values in each column
#calculate the percentage of missing values in each column
missing_values_percentage = (df.isnull().sum() / len(df)).sort_values(ascending=True) * 100 #calculates the percentage of missing values in each column
#put the data in a  dataframe with missing values and percentages an index as missing_count.index
missing_data = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_values_percentage }, index= missing_values.index) #creates a DataFrame with the missing values and percentages


# Display the DataFrame
print(missing_data.sort_values(by='Missing Values', ascending=False))

                        Missing Values  Percentage
Air.carrier                      72241   81.271023
Aircraft.Category                56602   63.677170
Longitude                        54516   61.330423
Latitude                         54507   61.320298
Airport.Code                     38757   43.601570
Airport.Name                     36185   40.708074
Broad.phase.of.flight            27165   30.560587
Total.Serious.Injuries           12510   14.073732
Total.Minor.Injuries             11933   13.424608
Total.Fatal.Injuries             11401   12.826109
Engine.Type                       7096    7.982990
Report.Status                     6384    7.181991
Purpose.of.flight                 6192    6.965991
Number.of.Engines                 6084    6.844491
Total.Uninjured                   5912    6.650992
Weather.Condition                 4492    5.053494
Aircraft.damage                   3194    3.593246
Injury.Severity                   1000    1.124999
Country                            226    0.254250
Model                               92    0.103500
Make                                63    0.070875
Location                            52    0.058500
Investigation.Type                   0    0.000000
Event.Date                           0    0.000000
Accident.Number                      0    0.000000
Event.Id                             0    0.000000

In [52]:
missing_data.index

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Make', 'Model', 'Country', 'Injury.Severity',
       'Aircraft.damage', 'Weather.Condition', 'Total.Uninjured',
       'Number.of.Engines', 'Purpose.of.flight', 'Report.Status',
       'Engine.Type', 'Total.Fatal.Injuries', 'Total.Minor.Injuries',
       'Total.Serious.Injuries', 'Broad.phase.of.flight', 'Airport.Name',
       'Airport.Code', 'Latitude', 'Longitude', 'Aircraft.Category',
       'Air.carrier'],
      dtype='object')

#### Dropping Columns with more than 50%

In [53]:
#drop columns with more than 50% missing values
#check if columns percentage of missing values is greater than 50%
columns_to_drop = missing_data[missing_data['Percentage'] > 50].index 
#drop the columns
df= df.drop(columns=columns_to_drop)

In [54]:
#check the shape of the dataframe
print(df.shape)
#check the number of missing values in each column
print(df.isna().sum().sort_values(ascending=False))

(88889, 22)
Airport.Code              38757
Airport.Name              36185
Broad.phase.of.flight     27165
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Injury.Severity            1000
Country                     226
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Event.Date                    0
Accident.Number               0
Event.Id                      0
dtype: int64

In [55]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Purpose.of.flight,Report.Status
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,1.0,Reciprocating,2.0,0.0,0.0,0.0,UNK,Cruise,Personal,Probable Cause
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,1.0,Reciprocating,4.0,0.0,0.0,0.0,UNK,Unknown,Personal,Probable Cause
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,1.0,Reciprocating,3.0,NaN,NaN,NaN,IMC,Cruise,Personal,Probable Cause
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,1.0,Reciprocating,2.0,0.0,0.0,0.0,IMC,Cruise,Personal,Probable Cause
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Personal,Probable Cause

### For the remaining columns check missing values in the rows to see how to handle it best

In [56]:
#check the missing values of the remaining columns one by one and try to see the best way to handle them
#starting with Airport.Code column
df['Airport.Code'].value_counts()

Airport.Code
NONE    1488
PVT      485
APA      160
ORD      149
MRI      137
        ...
7NJ9       1
CWV        1
5QA        1
M55        1
EIKH       1
Name: count, Length: 10374, dtype: int64

#### Replacing Missing values in  Airport.Code rows with Unknown

In [57]:
#replace missing values in the Airport.Code column with unknown
#df = df.dropna(subset=['Airport.Code'])
df['Airport.Code'] = df['Airport.Code'].fillna('unknown')

#check the shape of the dataframe
print(df.shape)

(88889, 22)

### Check the remaining missing values

In [58]:
# check the missing values in the remaining columns
print(df.isna().sum().sort_values(ascending=False))

Airport.Name              36185
Broad.phase.of.flight     27165
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Injury.Severity            1000
Country                     226
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Airport.Code                  0
Event.Date                    0
Accident.Number               0
Event.Id                      0
dtype: int64

#### Check the Broad.phase.of.flight column

In [59]:
#check the broad.phase.of.flight column
df['Broad.phase.of.flight'].value_counts()

Broad.phase.of.flight
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: count, dtype: int64

#### Replace missing values with Unknown

In [60]:
#Replace missing values in the Broad.phase.of.flight column with Unknown
#df= df.dropna(subset=['Broad.phase.of.flight'])
df['Broad.phase.of.flight'] = df['Broad.phase.of.flight'].fillna('Unknown')

#check the shape of the dataframe
print(df.shape)

(88889, 22)

In [61]:
#check remaining missing values
print(df.isna().sum().sort_values(ascending=False))

Airport.Name              36185
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Injury.Severity            1000
Country                     226
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Airport.Code                  0
Event.Date                    0
Broad.phase.of.flight         0
Accident.Number               0
Event.Id                      0
dtype: int64

### Handle the Total.Serious.Injuries column

#### Check if Total.Serious.Injuries, Total.Fatal.Injuries, Total.Minor.Injuries columns have a relationship.
#### TO see if change in one will affect the other.

In [62]:
#CHECK THE MEAN, MEDIAN, MODE, STANDARD DEVIATION, MINIMUM AND MAXIMUM VALUES OF THE TOTAL SERIOUS INJURIES COLUMN
print(df['Total.Serious.Injuries'].describe())
#check the total rows in the column
print(df['Total.Serious.Injuries'].shape)
#check the number of unique values in the column
print(df['Total.Serious.Injuries'].value_counts())

count    76379.000000
mean         0.279881
std          1.544084
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        161.000000
Name: Total.Serious.Injuries, dtype: float64
(88889,)
Total.Serious.Injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
10.0        13
8.0         13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
20.0         3
25.0         3
28.0         3
21.0         2
59.0         2
50.0         2
17.0         2
47.0         2
137.0        1
19.0         1
161.0        1
27.0         1
35.0         1
67.0         1
33.0         1
88.0         1
125.0        1
53.0         1
34.0         1
41.0         1
18.0         1
63.0         1
55.0         1
23.0         1
43.0         1
39.0         1
45.0         1
44.0         1
16.0         1
60.0         1
106.0        1
81.0         1
15.0         1
22.0         1
Name: count, dtype: int64

#### Check the same for the Total.Minor.Injuries column

In [63]:
#CHECK THE MEAN, MEDIAN, MODE, STANDARD DEVIATION, MINIMUM AND MAXIMUM VALUES OF THE TOTAL MINOR INJURIES COLUMN
print(df['Total.Minor.Injuries'].describe())
#check the total rows in the column
print(df['Total.Minor.Injuries'].shape)
df['Total.Minor.Injuries'].value_counts()

count    76956.000000
mean         0.357061
std          2.235625
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        380.000000
Name: Total.Minor.Injuries, dtype: float64
(88889,)

Total.Minor.Injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
10.0        11
12.0        11
14.0        10
11.0         9
17.0         8
19.0         6
18.0         6
24.0         5
22.0         5
25.0         4
16.0         4
15.0         4
33.0         4
20.0         3
21.0         3
26.0         3
23.0         3
32.0         3
27.0         3
50.0         2
30.0         2
36.0         2
31.0         2
28.0         2
42.0         2
38.0         2
57.0         1
65.0         1
84.0         1
43.0         1
35.0         1
380.0        1
47.0         1
68.0         1
200.0        1
71.0         1
58.0         1
171.0        1
39.0         1
96.0         1
29.0         1
69.0         1
62.0         1
45.0         1
125.0        1
40.0         1
Name: count, dtype: int64

#### Check the Same for Total Fatal Injuries column

In [64]:
#CHECK THE MEAN, MEDIAN, MODE, STANDARD DEVIATION, MINIMUM AND MAXIMUM VALUES OF THE TOTAL FATAL INJURIES COLUMN
print(df['Total.Fatal.Injuries'].describe())
#check the total rows in the column
print(df['Total.Fatal.Injuries'].shape)
#check the unique values in the column
df['Total.Fatal.Injuries'].value_counts()

count    77488.000000
mean         0.647855
std          5.485960
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        349.000000
Name: Total.Fatal.Injuries, dtype: float64
(88889,)

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [65]:
# Check correlation between the injury columns
correlation_matrix = df[['Total.Serious.Injuries', 'Total.Fatal.Injuries', 'Total.Minor.Injuries']].corr()
print(correlation_matrix)

                        Total.Serious.Injuries  Total.Fatal.Injuries  \
Total.Serious.Injuries                1.000000              0.135724
Total.Fatal.Injuries                  0.135724              1.000000
Total.Minor.Injuries                  0.326849              0.073559

                        Total.Minor.Injuries
Total.Serious.Injuries              0.326849
Total.Fatal.Injuries                0.073559
Total.Minor.Injuries                1.000000

#### Since their correlation is less than 0.5 then there is a weak positive relationship between the three.

#### Fill the missing values in the 3 Injuries columns with 0

This is because for the three columns there 'mean' are floating values, and injuries can't be floating values. Thus we use there medians

Which are all 0

In [66]:
#fill the missing values in the Total.Serious.Injuries column, Total.Fatal.Injuries column and Total.Minor.Injuries column with 0
df[['Total.Serious.Injuries', 'Total.Fatal.Injuries', 'Total.Minor.Injuries']] = df[['Total.Serious.Injuries', 'Total.Fatal.Injuries', 'Total.Minor.Injuries']].fillna(0)

In [67]:
#check the missing values in the remaining columns
print(df.isna().sum().sort_values(ascending=False))

Airport.Name              36185
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Injury.Severity            1000
Country                     226
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Airport.Code                  0
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Event.Date                    0
Broad.phase.of.flight         0
Accident.Number               0
Event.Id                      0
dtype: int64

### Let's look at the Total.uninjured column

In [68]:
#check the uninjured column
#check for unique values in the column
print(df['Total.Uninjured'].value_counts())

#check the mean, median, mode, standard deviation, minimum and maximum values of the Total.Uninjured column
print(df['Total.Uninjured'].describe())

Total.Uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
558.0        1
412.0        1
338.0        1
401.0        1
455.0        1
Name: count, Length: 379, dtype: int64
count    82977.000000
mean         5.325440
std         27.913634
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max        699.000000
Name: Total.Uninjured, dtype: float64

#### Fill in the missing values in this column with mean

We use mean because the column has a lot of outliers, there is no range per say

In [69]:
# fill the missing values in the Total.Uninjured column with the mean of the column
df['Total.Uninjured'] = df['Total.Uninjured'].fillna(round(df['Total.Uninjured'].mean()))

In [70]:
#check the missing values in the remaining columns
print(df.isna().sum().sort_values(ascending=False))

Airport.Name              36185
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Weather.Condition          4492
Aircraft.damage            3194
Injury.Severity            1000
Country                     226
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Airport.Code                  0
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Event.Date                    0
Broad.phase.of.flight         0
Accident.Number               0
Event.Id                      0
dtype: int64

### Handle the Purpose.of.flight

In [71]:
# check the unique values in the Purpose.of.flight column
print(df['Purpose.of.flight'].value_counts())

Purpose.of.flight
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: count, dtype: int64

In [72]:
#fill the missing values in the Purpose.of.flight column with the mode of the column
df['Purpose.of.flight'] = df['Purpose.of.flight'].fillna('Unknown')

### Check the remaining columns

In [73]:
#check the missing values in the remaining columns
print(df.isna().sum().sort_values(ascending=False))

Airport.Name              36185
Engine.Type                7096
Report.Status              6384
Number.of.Engines          6084
Weather.Condition          4492
Aircraft.damage            3194
Injury.Severity            1000
Country                     226
Model                        92
Make                         63
Location                     52
Airport.Code                  0
Investigation.Type            0
Event.Date                    0
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Accident.Number               0
Broad.phase.of.flight         0
Purpose.of.flight             0
Event.Id                      0
dtype: int64

### Check the Aircraft.damage column

In [74]:
#check the unique values in the Aircraft.damage column
print(df['Aircraft.damage'].value_counts())

#describe the Aircraft.damage column
print(df['Aircraft.damage'].describe())

#fill the missing values in the Aircraft.damage column with the mode of the column
df['Aircraft.damage'] = df['Aircraft.damage'].fillna(df['Aircraft.damage'].mode()[0])

Aircraft.damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: count, dtype: int64
count           85695
unique              4
top       Substantial
freq            64148
Name: Aircraft.damage, dtype: object

### Handle the Airport Name column

In [75]:
#check the unique values of Airport.Name column
print(df['Airport.Name'].value_counts())

#describe the Airport.Name column
print(df['Airport.Name'].describe())

#fill the missing values in the Airport.Name column with the mode of the column
df['Airport.Name'] = df['Airport.Name'].fillna(df['Airport.Name'].mode()[0])

Airport.Name
Private                           240
PRIVATE                           224
Private Airstrip                  153
NONE                              146
PRIVATE STRIP                     111
                                 ...
STEHEKIN                            1
OTTAWA MUNICIPAL                    1
DWIGHT AIRPORT                      1
PHOENIX DEER VALLEY MUNI            1
WICHITA DWIGHT D EISENHOWER NT      1
Name: count, Length: 24870, dtype: int64
count       52704
unique      24870
top       Private
freq          240
Name: Airport.Name, dtype: object

### Handle the Number of Engines column

In [76]:
# check the unique values in the Number.of.Engines column
print(df['Number.of.Engines'].value_counts())

#describe the Number.of.Engines column
print(df['Number.of.Engines'].describe())

#fill the missing values in the Number.of.Engines column with the median of the column or mean, mode  cause one has the highest frequency. 
df['Number.of.Engines'] = df['Number.of.Engines'].fillna(df['Number.of.Engines'].median())

Number.of.Engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: count, dtype: int64
count    82805.000000
mean         1.146585
std          0.446510
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          8.000000
Name: Number.of.Engines, dtype: float64

### Handling the Engine.Type column

In [77]:
#check the unique values in the Engine.Type column
print(df['Engine.Type'].value_counts())

#fill the missing values in the Engine.Type column with unknown since we do not know the type of engine
df['Engine.Type'] = df['Engine.Type'].fillna('Unknown')

Engine.Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
UNK                    1
Name: count, dtype: int64

### Check the missing values left

In [78]:
#check the missing values in the remaining columns
print(df.isna().sum().sort_values(ascending=False))

Report.Status             6384
Weather.Condition         4492
Injury.Severity           1000
Country                    226
Model                       92
Make                        63
Location                    52
Total.Fatal.Injuries         0
Purpose.of.flight            0
Broad.phase.of.flight        0
Accident.Number              0
Total.Uninjured              0
Total.Minor.Injuries         0
Total.Serious.Injuries       0
Engine.Type                  0
Airport.Code                 0
Number.of.Engines            0
Investigation.Type           0
Aircraft.damage              0
Event.Date                   0
Airport.Name                 0
Event.Id                     0
dtype: int64

### Check the Country column

In [79]:
#check unique values in the Country column
print(df['Country'].value_counts())

#fill the missing values with  unknown
#this is because the country column is a categorical column and filling it with mode will affect the analysis
df['Country'] = df['Country'].fillna('Unknown')

Country
United States                       82248
Brazil                                374
Canada                                359
Mexico                                358
United Kingdom                        344
                                    ...
Seychelles                              1
Palau                                   1
Libya                                   1
Saint Vincent and the Grenadines        1
Turks and Caicos Islands                1
Name: count, Length: 219, dtype: int64

### Handling the Model Column

In [80]:
#check the unique values in the Model colun
print(df['Model'].value_counts())

#fill the missing values in the Model column with the unkown
#this is because the model of the aircraft is very important in the analysis
df['Model'] = df['Model'].fillna('Unknown')

Model
152              2367
172              1756
172N             1164
PA-28-140         932
150               829
                 ...
GC-1-A              1
737-3S3             1
MBB-BK117-B2        1
GLASSAIR GL25       1
M-8 EAGLE           1
Name: count, Length: 12318, dtype: int64

### Handling Weather Condition

In [81]:
#check the unique values in weather condition
print(df['Weather.Condition'].value_counts())

#fill the missing values in the Weather.Condition column with the mode of the column
#this is because there are only 14 missing values in the column thus fillint it with the mode will not affect the data
df['Weather.Condition'] = df['Weather.Condition'].fillna(df['Weather.Condition'].mode()[0])

Weather.Condition
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: count, dtype: int64

### Handling the Make

In [82]:
#check unique values in the Make
print(df['Make'].value_counts())

#fill the missing values in the Make column with the unknown
#this is because the make of the aircraft is very important in the analysis
df['Make'] = df['Make'].fillna('Unknown')

Make
Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8237, dtype: int64

### Handling the Location

In [83]:
# check unique values in the location column
print(df['Location'].value_counts())

#fill the missing values in the Location column with the unknown
#this is because the location of the accident is very important in the analysis
df['Location'] = df['Location'].fillna('Unknown')

Location
ANCHORAGE, AK          434
MIAMI, FL              200
ALBUQUERQUE, NM        196
HOUSTON, TX            193
CHICAGO, IL            184
                      ...
Corona De Tucso, AZ      1
Lithonia, GA             1
BONANZA, OR              1
NEWPORT, PA              1
Brasnorte,               1
Name: count, Length: 27758, dtype: int64

### Check the New Shape of the DataFrame

In [84]:
#check the missing values in the remaining columns
print(df.isna().sum().sort_values(ascending=False))

Report.Status             6384
Injury.Severity           1000
Number.of.Engines            0
Purpose.of.flight            0
Broad.phase.of.flight        0
Weather.Condition            0
Total.Uninjured              0
Total.Minor.Injuries         0
Total.Serious.Injuries       0
Total.Fatal.Injuries         0
Engine.Type                  0
Event.Id                     0
Investigation.Type           0
Make                         0
Aircraft.damage              0
Airport.Name                 0
Airport.Code                 0
Country                      0
Location                     0
Event.Date                   0
Accident.Number              0
Model                        0
dtype: int64

### Handle the Report.Status Column

In [85]:
#fill the missing values in the Report.Status column with unknown
df['Report.Status'] = df['Report.Status'].fillna('Unknown')

### Handle the Injury.Severity column

In [86]:
#fill missing values in the Injury.Severity column with the unknown
df['Injury.Severity'] = df['Injury.Severity'].fillna('Unknown')

In [87]:
#check for missing values
print(df.isna().sum().sort_values(ascending=False))

Event.Id                  0
Investigation.Type        0
Purpose.of.flight         0
Broad.phase.of.flight     0
Weather.Condition         0
Total.Uninjured           0
Total.Minor.Injuries      0
Total.Serious.Injuries    0
Total.Fatal.Injuries      0
Engine.Type               0
Number.of.Engines         0
Model                     0
Make                      0
Aircraft.damage           0
Injury.Severity           0
Airport.Name              0
Airport.Code              0
Country                   0
Location                  0
Event.Date                0
Accident.Number           0
Report.Status             0
dtype: int64

#### Check the shape, describe and info

In [88]:
#check the shape
print(df.shape)
#describe the dataframe
print(df.describe())
#check the info
print(df.info())

(88889, 22)
       Number.of.Engines  Total.Fatal.Injuries  Total.Serious.Injuries  \
count       88889.000000          88889.000000            88889.000000
mean            1.136552              0.564761                0.240491
std             0.432545              5.126649                1.434614
min             0.000000              0.000000                0.000000
25%             1.000000              0.000000                0.000000
50%             1.000000              0.000000                0.000000
75%             1.000000              0.000000                0.000000
max             8.000000            349.000000              161.000000

       Total.Minor.Injuries  Total.Uninjured
count          88889.000000     88889.000000
mean               0.309127         5.303795
std                2.083715        26.969508
min                0.000000         0.000000
25%                0.000000         0.000000
50%                0.000000         1.000000
75%                0.000000         2.000000
max              380.000000       699.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88889 non-null  object
 5   Country                 88889 non-null  object
 6   Airport.Code            88889 non-null  object
 7   Airport.Name            88889 non-null  object
 8   Injury.Severity         88889 non-null  object
 9   Aircraft.damage         88889 non-null  object
 10  Make                    88889 non-null  object
 11  Model                   88889 non-null  object
 12  Number.of.Engines       88889 non-null  float64
 13  Engine.Type             88889 non-null  object
 14  Total.Fatal.Injuries    88889 non-null  float64
 15  Total.Serious.Injuries  88889 non-null  float64
 16  Total.Minor.Injuries    88889 non-null  float64
 17  Total.Uninjured         88889 non-null  float64
 18  Weather.Condition       88889 non-null  object
 19  Broad.phase.of.flight   88889 non-null  object
 20  Purpose.of.flight       88889 non-null  object
 21  Report.Status           88889 non-null  object
dtypes: float64(5), object(17)
memory usage: 14.9+ MB
None

In [92]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Airport.Code', 'Airport.Name',
       'Injury.Severity', 'Aircraft.damage', 'Make', 'Model',
       'Number.of.Engines', 'Engine.Type', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Purpose.of.flight',
       'Report.Status'],
      dtype='object')

In [89]:
df.head(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Purpose.of.flight,Report.Status
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,unknown,Private,Fatal(2),Destroyed,...,1.0,Reciprocating,2.0,0.0,0.0,0.0,UNK,Cruise,Personal,Probable Cause
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,unknown,Private,Fatal(4),Destroyed,...,1.0,Reciprocating,4.0,0.0,0.0,0.0,UNK,Unknown,Personal,Probable Cause
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,unknown,Private,Fatal(3),Destroyed,...,1.0,Reciprocating,3.0,0.0,0.0,5.0,IMC,Cruise,Personal,Probable Cause
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,unknown,Private,Fatal(2),Destroyed,...,1.0,Reciprocating,2.0,0.0,0.0,0.0,IMC,Cruise,Personal,Probable Cause
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,unknown,Private,Fatal(1),Destroyed,...,1.0,Unknown,1.0,2.0,0.0,0.0,VMC,Approach,Personal,Probable Cause

### Move the cleaned df to Tableau for visualization

In [90]:
import shutil  # For moving files

In [91]:
# Since 'df' is your cleaned DataFrame
# Export DataFrame to a CSV file
df.to_csv('cleaned_Aviation_data2.csv', index=False)

# Specify the path to the Tableau Repository
tableau_repo_path = "C:/Users/ADMIN/Documents/My Tableau Repository/"

# Specify the path to the Data Sources folder within the Tableau Repository
data_sources_folder = tableau_repo_path + "Datasources/"

# Move the CSV file to the Data Sources folder
shutil.move('cleaned_Aviation_data2.csv', data_sources_folder)

'C:/Users/ADMIN/Documents/My Tableau Repository/Datasources/cleaned_Aviation_data2.csv'